:root {
	/* Main Colors */
	--background: #F0F4FD;
	--main-text: #004;
	--bg-dark: #DDDDDF;

	--accent: #949494;
	--border: #ddd;

	--focus-fg: var(--background);
	--focus-bg: #87A;
	--focus2-fg: var(--focus-fg);
	--focus2-bg: #AD89B3;

	--side-rem: calc(4vw);
	--bottom-rem: 1rem;
}
/* handle small screens */
@media (max-width: 550px) {
	:root {
		--side-rem: 0rem;
		--bottom-rem: 0rem;
	}
}


body {
	font-family: sans-serif;
	padding: 0rem var(--side-rem);
	background: var(--bg-dark);
	color: var(--main-text);
	padding-bottom: 6rem;
}
h1 { text-align: center; }

button {
	color: var(--main-text);
	background: var(--accent);
	border-radius: 1px;
	cursor: pointer;
}
button:hover {
	background: var(--focus-bg);
}


/* music table */
table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	background: var(--background);
}
th, td {
	padding: 0.8rem;
	text-align: left;
	border-bottom: 1px solid var(--border);
}
th.textAlign-right, td.textAlign-right {
	text-align: right;
}
th[data-sortable="true"] {
	cursor: pointer;
	user-select: none;
}
.sort-arrow {
	padding-bottom: 5px;
	font-size: 0.8em;
	color: 555;
}
tr:hover { background-color: var(--focus2-bg); color: var(--focus2-fg) }

button.play-btn {
	padding: 0.3rem 0.6rem;
	border: none;
}

a { color: #007BFF; text-decoration: none; }
a:hover { text-decoration: underline; }


/* player container */
#player-container {
	position: fixed;
	bottom: var(--bottom-rem);
	left: var(--side-rem);
	right: var(--side-rem);
	width: auto;
	background: var(--background);
	color: var(--main-text);
	box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 1px;
}

#player-container audio {
	width: 100%;
	margin-top: 0.3rem;
	border-radius: 1px;
}

#above-player {
	width: 100%;
	display: flex;
	gap: 10px;
}
#current-track {
	font-weight: bold;
	margin-top: 0.3rem;
	margin-left: 0.5rem;
	flex: 10;
}

#search {
	margin-top: 0.3rem;
	margin-right: 0.5rem;
	box-sizing: border-box;
	color: var(--main-text);
	background: var(--background);
	border-radius: 1px;
	border: solid 1px var(--border);
	width: 6ch;
	max-width: 8ch;
	transition: width 0.3s ease;
	flex: 1;
}
#search:hover {
	color: var(--focus2-fg);
	background: var(--focus2-bg);
}
#search:not(:placeholder-shown), #search:focus {
	color: var(--main-text);
	background: var(--background);
	max-width: 350px;
	flex: 10;
}
button#play-mode-btn {
	margin-top: 0.3rem;
	box-sizing: border-box;
	border: solid 1px var(--border);
	/*
	border: none;
	*/
}


/* animation */
.fade-in {
	opacity: 0;
	transform: translateY(3px);
	animation: fadeInRow 400ms ease forwards;
}
@keyframes fadeInRow {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
